@model List<AppCrud.Models.Empleado>;
@using System.Globalization

<div class="row">
    <div class="col-sm-8 offset-sm-2">
        <h2>Lista de empleados</h2>
        <a asp-controller="Empleado" asp-action="Nuevo" class="btn btn-success mb-3">Nuevo</a>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>IdEmpleado</th>
                    <th>Nombre completo</th>
                    <th>Correo</th>
                    <th>Fecha de contrato</th>
                    <th>Activo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.IdEmpleado</td>
                        <td>@item.Nombre</td>
                        <td>@item.Email</td>
                        <td>@(DateTime.TryParse(item.FechaContrato, out var fecha) ? fecha.ToString("dd/MM/yyyy") : "Formato inválido")</td>
                        <td>@(item.Activo ? "Si" : "No")</td>
                        <td>
                            <a asp-controller="Empleado" asp-route-IdEmpleado="@item.IdEmpleado" asp-action="Editar" class="btn btn-primary mb-3">Editar</a>
                            <a asp-controller="Empleado" asp-route-IdEmpleado="@item.IdEmpleado" asp-action="Eliminar" onclick="return confimar()" class="btn btn-danger mb-3">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

@section Scripts {
    <script>
        function confimar(){
            return confirm("¿Estas seguro de eliminar el empleado?");
        }
    </script>
}